* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    /* background-color: red; */
    /* border-bottom: 3px solid red; */
    background: #FBFBFB;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.logoDoaPetz {
    /* background-color: aquamarine; */
    box-sizing: 10px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    /* border-width: 3px;
    border-style: solid;
    border-color: brown; */



}


.grid {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.logo1 {
    margin-top: 26px;
    width: 120px;
    height: 27px;

}


.botoes-E-C {
    width: 140px;
    display: flex;
    margin-top: 25px;
    font-size: 15px;
    justify-content: space-between;


}

.botoes-E-C a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    ;
}



.botoes-E-C a:nth-child(2) {

    color: orange;

}



h1 {
    display: flex;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    /* margin-bottom: 250px; */
    width: 650px;

}

.segundo_bloco {
    display: flex;
    justify-content: space-between;

    margin-top: 50px;
}



.texto_informativo {

    width: 48%;

}




.texto_informativo p {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}


.botao_encontrarPet {

    text-decoration: none;
    color: #ffffff;
    background-color: #FF9922;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 15px 50px;

    border-radius: 13px;

}

.imagemPets {


    width: 50%;
}

.homem_mulher {
    background: #FF9F30;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;


}


h2 {


    /* text-align: center; */
    font-family: 'Raleway';
    font-size: 46px;
    width: 645px;
    margin: 0 auto;
    margin-bottom: 50px;
    /*margin-left: 450px; */
}

.cartoes {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;

}

.cartao1,
.cartao2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px;
    background: #FBFBFB;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    font-family: 'Raleway';
}


.vermais1 {
    color: #A944FF
}

.vermais2 {
    color: #0088AE;
}


.terceira_secao {
    padding-top: 50px;
    padding-bottom: 50px;
}


.terceiro_secao {
    display: flex;
    justify-content: space-between;

}

.terceiro_bloco {
    width: 500px;
    display: flex;
    font-size: 18px;
    font-family: 'Raleway';
    flex-direction: column;
}

.logos_section3 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    justify-content: space-between;
}


.logos_menores1,
.logos_menores2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';

}


.item_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;

}


.secao_contato{
    
    background-color: #FF8800;
    padding-top: 50px;
    


}

.contato{
    display: flex;
    justify-content: center;
}


.imagem_contato{
    
    width: 400px;
}
.bloco_contato{
    display: flex;
    margin-left: 900px;
    flex-direction: column;
    width: 30%;
    height: 300px;
    
   
}



.botao_enviar{
    display: flex;
    text-decoration: none;
    color: #ffffff;
    background-color: #FF9922;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 15px 45px;
    width: 150px;
    border-radius: 13px;
}

footer{
    background-color: #0088AE;
    display: flex;
    height: 150px;
    

}
.footer_{
    
    
}

.logoDoaPetz2 {
    /* background-color: aquamarine; */
    box-sizing: 10px;
    height: 70px;
    display: flex;
    
    /* border-width: 3px;
    border-style: solid;
    border-color: brown; */
}

.logo2 {
    display: flex;
    margin-top: 0px;
    width: 120px;
    height: 27px;

}

.copiryght{
    display: flex;
    color: #ffffff;
    justify-content: center;
    margin-top: 30px;
}

.logos-footer{
    
    color: #ffffff;
    display: flex;
    justify-content: end;
    gap: 10px;
}